html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
}

h2 {
    font-size: 48px;
    color: #606060;
    margin-bottom: 40px;
}

h3 {
    font-size: 28px;
    color: #4597D3;
    margin: 0 0 20px 0;
}

p {
    line-height: 2;
    margin: 0;
}

/* *****nav***** */

.navbar {
    background-color: white;
    position: fixed;
    height: 60px;
    width: 100%;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, .3);
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

ul li {
    font-size: 16px;
    font-weight: bold;
}

ul li a {
    text-decoration: none;
    color: black;
}



/* *****main***** */
.main {
    background-image: url(../images/background1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    margin-bottom: 240px;
    display: flex;
}

.mainPoster {
    width: 50%;
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    margin-top: 60px;
}

.mainPoster img{
    height: 100%;
    margin-right: 60px;
}

.mainInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mainTitle img{
    margin-top: 120px;
    width: 640px;
}
.mainIcon {
    display: flex;
    justify-content: space-around;
}

.mainIcon img {
    width: 180px;
    margin-bottom: 40px;
}

.mainDate h1{
    color: white;
    font-size: 36px;
}

/* *****video***** */

.video {
    background-image: url(../images/background2.jpeg);
    background-size: cover;
    height: 720px;
    width: 100%;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    width: 60%;
    height: 60%;
}



/* introduction***** */

.introduction {
    padding-top: 60px;
}

.container {
    width: 760px;
    margin: 0 auto;
}

.photos {
    display: flex;
    width: 100%;
}

.photos img {
    width: 25%;
    margin: 60px 0 120px 0;
}


/* story***** */

.story {
    padding-top: 60px;
}



/* character***** */

.charater {
    padding-top: 60px;
    width: 760px;
    margin: 0 auto;
}



.charaterInfo {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
}

.charaterText {
    width: 48%;
}

.charaterText .charaterNameBlue {
    font-size: 28px;
    color: #4597D3;
    margin: 0 0 20px 0;
}

.charaterText .charaterNamePink {
    font-size: 28px;
    color: #F2819F;
    margin: 0 0 20px 0;
}

.charaterText .voiceCast {
    font-size: 16px;
}

.charaterPhoto {
    width: 48%;
    margin: 0 20px 40px 0;
}

.charaterPhoto img {
    width: 100%;
}

/* staff***** */

.staff {
    padding-top: 60px;
    width: 760px;
    margin: 0 auto 180px;
}

.staffName {
    font-weight: bold;
    margin-left: 40px;
}

/* footer***** */

footer img {
    width: 100%;
}

footer p {
    font-size: 12px;
    color: #707070;
    text-align: center;
}
